body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 30px;
    padding: 30px;
    justify-content: center;
    text-align: center;
  }

  
  
  header {
    background-color: #1f1a1a;
    color: white;
    text-align: center;
    padding: 1em;
    margin-bottom: 30px;
    border: solid gray 5px;
    box-shadow: 4px 4px 7px #494343;
    border-radius: 20px;
  }

  .navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    align-items: center;
    background-color: aliceblue;
    color: white;
    font-family: "Poppins", sans-serif;
    box-shadow: 4px 0px 5px black;
    top: 0;
    z-index: 9999;
  }

  .navbar img {
    margin-left: 60px;
    width: 250px;
  }
  
  .navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
    font-weight: bolder;
    margin-right: 20px;
    font-size: 25px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: blue;
  }
  
  .navbar ul li a:hover {
    color: rgb(8, 188, 248);
  }
  
  main {
    display: flex;
    border: solid black 7px;
    box-shadow: 4px 4px 7px #494343;
    border-radius: 30px;
    justify-content: center;
    text-align: center;
  }
  
  .ekstrakurikuler {
    display: flex;
    flex-wrap: wrap;
    padding: 7em;
    justify-content: center;
    text-align: center;
    font-size: 23px;
    font-weight: bolder;
  }
  
  div {
    width: 300px;
    margin: 30px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 30px;
    text-align: center;
    border: solid black 3px;
    border-radius: 25px;
    box-shadow: 3px 3px 6px #494343;
    justify-content: center;
    text-align: center;
  }
  
  img {
    display: flexbox;
  
    flex-wrap: wrap;
    max-width: 250px;
    justify-content: center;
    text-align: center;
    align-items: center;
  }